@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{

    /* COlors */
    --work: hsl(15, 100%, 70%);
    --play: hsl(195, 74%, 62%);
    --study: hsl(348, 100%, 68%);
    --exercise: hsl(145, 58%, 55%);
    --social: hsl(264, 64%, 52%);
    --self-care: hsl(43, 84%, 65%);

    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);

    /* Typography */
    --font-size-body: 18px;
    --font-family: 'Rubik', sans-serif;
    --font-Light : 300;
    --font-Regular : 400;
    --font-Medium : 500;

}

body{
    font-family: var(--font-family);
    background-color: var(--very-dark-blue);
    height: 100vh;
}
#root{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.App{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 90%;
    display: grid;
    gap: 1.2rem;
}

@media (min-width: 1000px){
    #root{
        margin-top: 0;
        align-items: center;
    }

    .App{
        width: 75%;
        margin-bottom: 0;
        grid-template-columns: repeat(4,1fr);

    }
}
